/* PC */
@media (min-width: 64em) {

}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
        #contact .contact-info {
            line-height: 2;
        }
}
/* tablet and mobile */
@media (max-width: 63.9375em) {
        #tour .buy-button {
            padding: 14px 16px;
        }
        #contact .form-control {
            padding: 14px;
        }
        #footer .icon-logo a {
            font-size: 42px;
            margin: 0px 8px;
        }
        #footer .last-line a {
            padding: 12px 0px;
            display: inline-block;
        }
        .nav .subnav li a {
            padding: 15px 16px;
        }

}
/* mobile */
@media (max-width: 46.1875em) {
        #header {
            overflow: hidden;
        }
        #header .search-icon {
            display: none;
        }
        #header .menu-icon {
            display: block;
        }
        .nav {
        display: block;
        }
        .nav > li {
            display: block;
        }
        .nav > li:first-child {
            display: inline-block;
        }
        .nav .subnav {
            position: initial;
        }
        .nav .subnav li a {
            background: #333;
            color: #fff;
            padding: 15px 40px;
        }
        #slider .slider-content {
            display: none;
        }
        #content .member-item {
            width: 100%!important;
        }
        #content .members-picture {
            width: 60%;
        }
        #tour .wrap-places {
            width: 100%!important;
        }
        .s-full-width,
        .s-col-full {
            width: 100%!important;
        }
        .s-m-0px {
            margin: 0px;
        }
        .s-p-0px {
            padding: 0px;
        }
        .s-mt-8px {
            margin-top: 8px;
        }
        #contact .contact-info {
            margin-bottom: 32px;
            line-height: 2.0;
        }
        
}